@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

main {
  top: 0; 
  left:0; 
  bottom: 0;
  right: 0; 
  position: fixed;
  perspective: 1800px;
  background-color: #000;
}

#navbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
}

nav {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
}

#brand, #burger {
  padding: 10px;
  cursor: pointer;
}

#burger div {
  height: 19px;
  width: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

#drawer {
  width: 100%;
  height: 100%;
  z-index: 9;
  position: fixed;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

#drawer-links {
  display: flex;
  flex-direction: column;
}

#drawer-links a {
  color: #000;
  font-size: 4vh;
  text-decoration: none;
  transition: color 250ms ease;
}

#drawer-links a:hover {
  color: #639;
}

#drawer-links .current {
  color: #999;
}

nav a {
  padding: 10px;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  color: #96F;
}

.full {
  width: 100%;
  height: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

#about {

}

#navbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
}

nav {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 60px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
}

#page h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

#page span {
  content: "";
  height: 3px;
  width: 50px;
  background-color: salmon;
}